@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #D9D9D9;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    padding-block: 5rem;
}

.container {
    width: 80%;
    background: white;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.elements {
    width: 80%;
    height: 90%;
    align-items: center;
    gap: 4rem;
}

article {
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

article:last-of-type {
    margin-bottom: 2rem;
}

section {
    height: 150px;
    justify-content: center;
    gap: 30px;
}

.container,
.elements,
section {
    display: flex;
    flex-direction: column;
}

h1,
h3,
p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    width: 80%;
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

p {
    font-weight: 500;
    font-size: .875rem;
    color: #4D5562;
}



.elements img {
    width: 150px;
    height: 150px;
    border-radius: 10px
}

@media (max-width:1024px) {
    h1 {
        font-size: 1.5rem
    }

    h3 {
        font-size: .8rem
    }
}

@media (max-width:640px) {
    h1 {
        font-size: 1rem
    }

    h3 {
        font-size:x-small;
    }

    p {
        font-size:xx-small;
    }

    .container {
        width: 90%;
    }
    .elements{
        width: 100%;
        gap:2rem;
    }
    .elements img{
        width: 100px;
        height: 100px;
    }
    article section{
        height: fit-content;
        gap:5px;
    }
}